.image {
    position: relative;
    text-align: end;
    color: white;
    margin-top: 0%;
    
  }
  
  
  
  .info {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
     
    
  }
.button{
    border: 1px;
    width: 150px;
    height: 40px ;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    

}
.info h1{
    font-weight: 500px;
   
}
.info p{
    color: rgb(95, 93, 93);
    font-size: small;
}
.main{
    display: flex;
   margin-top: 200px;
    height: 40px;
    width: 1000px;
    margin-left: 70px;
    
}
.failures{
    margin-top: 290px;
    margin-left: 190px;
}
.person{
    height: 400px ;
    margin-bottom: 100px;
}
.Contrary{
    padding-left: 10px;
}
.other-section{
    margin-top: 560px;
    padding: 349px;
}
.Plans{
   
    margin-bottom: 79px;
 }
.icons{
    display: inline-block;
    margin-left: 6px;
    
    
}
.icons h2 h3{
    display: flex;
  justify-content:space-around;

}
.pic-2{
    position: relative;
    bottom: 304px;
}
.watch{
    margin-left: 85px;
    
}
.name .type{
        text-align: center;
}
.type{
    color: grey;
}
.watch-text{
    width: 318px;
    position: relative;
    bottom: 533px;
    left: 160px;
    color: white;
}
button{
    height: 50px;
    width: 110px;
    border-radius: 5px;
    border: 0;
    background-color:white ;
    color: orangered;

}
.Future{
    background-color: black;
    color: white;
    display: flex;
}
.left{
    width: 415px;
    font-size: small;
    
}

.icons-2{
    margin-top: 201px;
    margin-right: 996px;
   margin-left: -394px;
   display: flex;
   height: 25px;
  
}
   